<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AccountId" value="999999999" />
    <add key="ClientId" value="YOUR_CLIENT_ID" />
    <add key="ClientSecret" value="YOUR_CLIENT_SECRET" />
    <add key="RedirectUrl" value="urn:ietf:wg:oauth:2.0:oob" />
    <add key="RefreshToken" value="YOUR_REFRESH_TOKEN" />
  </appSettings>
</configuration>